/*.xlsx
/ZZ_NetbeansProjects/JavaFXAppHelloNepal/nbproject/private/
/ZZ_NetbeansProjects/JavaFXApplicationHelloNepal/nbproject/private/
/ZZ_NetbeansProjects/JavaFXApplication1/nbproject/private/
/ZZ_NetbeansProjects/JavaFXApplication1/build/
/ZZ_NetbeansProjects/JavaFXAppHelloNepal/build/
/ZZ_NetbeansProjects/JavaFXLayout/nbproject/private/
/ZZ_NetbeansProjects/JavaFXApplication/nbproject/private/
/ZZ_NetbeansProjects/JavaFXApplication/build/
/ZZ_NetbeansProjects/JavaFXApplication4/nbproject/private/
/ZZ_NetbeansProjects/JavaFXApplication5/nbproject/private/
/ZZ_NetbeansProjects/JavaFXApplication5/build/
