/*.xlsx
/ZZ_NetbeansProjects/JavaFXAppHelloNepal/nbproject/private/
/ZZ_NetbeansProjects/JavaFXApplicationHelloNepal/nbproject/private/
/ZZ_NetbeansProjects/JavaFXApplication1/nbproject/private/
/ZZ_NetbeansProjects/JavaFXApplication1/build/
/ZZ_NetbeansProjects/JavaFXAppHelloNepal/build/
/ZZ_NetbeansProjects/JavaFXLayout/nbproject/private/
/ZZ_NetbeansProjects/JavaFXApplication/nbproject/private/
/ZZ_NetbeansProjects/JavaFXApplication/build/
/ZZ_NetbeansProjects/JavaFXApplication4/nbproject/private/
/ZZ_NetbeansProjects/JavaFXApplication5/nbproject/private/
/ZZ_NetbeansProjects/JavaFXApplication5/build/
/ZZ_NetbeansProjects/JavaFXApplication7/nbproject/private/
/ZZ_NetbeansProjects/JavaFXApplication2/nbproject/private/
/ZZ_NetbeansProjects/JavaFXApplication2/build/
/ZZ_NetbeansProjects/ServletHelloNepal/nbproject/private/
/ZZ_NetbeansProjects/ServletHelloNepal/build/
/ZZ_NetbeansProjects/HelloNepa/nbproject/private/
/ZZ_NetbeansProjects/SHelloNepa/nbproject/private/
/ZZ_NetbeansProjects/SHelloNepa/build/
/ZZ_NetbeansProjects/SHelloNepa/dist/
/ZZ_NetbeansProjects/WebApplication1/nbproject/private/
/ZZ_NetbeansProjects/HelloNepal/nbproject/private/
/ZZ_NetbeansProjects/HelloNepal/build/
/ZZ_NetbeansProjects/vsdfvsd/nbproject/private/
/ZZ_NetbeansProjects/HelloKtm/nbproject/private/
/ZZ_NetbeansProjects/HelloKtm/build/
/ZZ_NetbeansProjects/JavaApp/build/
/ZZ_NetbeansProjects/JavaFXApplication9/nbproject/private/
/ZZ_NetbeansProjects/JavaFXAppUIComponent/nbproject/private/
/ZZ_NetbeansProjects/JavaFXAppUIComponent/build/
